#header {
  margin: 0 auto;
  width: 825px;
  padding: 20px 0;
}
  #logo {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 0 0;
  }
  #counter {
    float: left;
    font-size: 20px;
  }
  #counter .digit {
    display: inline-block;
    width: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #c9c9ca;
    margin: 4px 5px 0 0;
  }

.section_container {
  background-color: #fff;
  margin: 0 0 10px 0;
  padding: 20px 0;
}
  .section {
    margin: 0 auto;
    width: 825px;
  }
		.section .left_col {
			width: 500px;
		}
  .section_title {
    float: left;
    font-weight: bold;
    margin: 0;
    width: 150px;
  }
  .section_content {
    float: left;
  }  

#video_container {
	position: relative;
	width: 463px;
	margin-top: 8px;
}

#video {
	margin: 0 10px 0 0;
}

#video_container .video_desc {
	position: absolute;
	right: 0px;
	bottom: -2px;
	font-size: 0.9em;
}

#quote {
  font-size: 1.3em;
	width: 270px;
	line-height: 30px;
	margin-top: 25px;
}
	#quote .author {
		font-size: 16px;
	}
		
#magnet_image {
	margin: 30px 0 32px 0;
}
  
#magnet_download {
	
}

.without_bgcolor {
  background: none;
}
.with_bgcolor {
  background-color: #fff;
}

.left {
  float: left;
}
.right {
	float: right;
}