* {
  margin: 0;
  padding: 0;
}

@font-face { 
	font-family: Trade-Gothic; 
	src: url('../font/TradeGot.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Bold; 
	src: url('../font/TradeGotBol.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Bold-Con; 
	src: url('../font/TradeGotBolConTweObl.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Eig-Con; 
	src: url('../font/TradeGotConEig.ttf'); 
}

body {
	font-family: "Trade-Gothic-Bold", sans-serif;
  font-size: 19px;
  text-align: left;
	color: #666600;
}

a {
	color: #666600;
  text-decoration: none;
}
a:hover { color: #99CC00; }


/* Menu
------------------ */
#menu {
	background-color: #fff;
	color: #666600;
	margin: 20px auto 0 auto;
	width: 90%;
	min-width: 800px;
}
#menu #selection {
	width:30%; 
	min-width: 280px;
}
#menu #logo {
	font-family: "Trade-Gothic-Bold", sans-serif;
	display: inline-block;
	padding: 8px 6px 7px 9px;
}
#menu .item {
	font-family: "Trade-Gothic-Eig-Con", sans-serif;
	display: inline-block;
	margin-left: 8px;
}
#menu .item_selected {
	border-top: 4px solid #666600; 
	padding:7px 2px 0 0;
	font-family: "Trade-Gothic-Eig-Con", sans-serif;
	display: inline-block;
	margin-left: 8px;
}

#update {
	width: 60%;
	border-bottom: 1px dashed #666600;
	border-top: 1px solid #666600;
	padding: 10px 0 4px 0;
	margin-left: 20px;
	display: inline-block;
	font-family: "Trade-Gothic-Bold", sans-serif;
}


/* Content
------------------ */
#main {
	margin: 50px auto 60px auto;
	width: 90%;
	min-width: 1150px;
}
#content {
	width: 72%;
	min-width: 875px;
}
#top_list {
	position: relative;
	width: 235px;
	margin-left: 20px;
	font-family: "Trade-Gothic-Bold-Con", sans-serif;
}
#top_list_title{
	font-size: 28px;
	margin-bottom: 10px;
}
#top_list .item{
	font-family: "Trade-Gothic-Bold", sans-serif;
	line-height: 21px;
	font-size: 19px;
}
#top_list #top_list_arrows {
	position: absolute;
	left: -100px;
	top: 106px;
}
#top_list #circle_in_out {
	margin: 17px 0 0 -4px;
}

#title {
	position: fixed;
	top: 0px;
	left: 30px;
	display: inline-block;
	padding: 13px 9px 7px 9px;
}

.like_box {
	width: 270px;
	float: left;
	padding-bottom: 30px;
}

.like_box .count {
	float: left;
	width: 80px;
	text-align: right;
	padding: 6px 10px 0 0;
	font-family: "Trade-Gothic-Bold-Con", sans-serif;
	font-size: 33px;
}
.like_box .info {
	float: left;
	width: 180px;
	text-align: left;
}
.like_box .like {
	font-family: "Trade-Gothic-Bold-Con", sans-serif;
  line-height: 40px;
	font-size: 43px;
}
  .like_box .like a {
    display: block;
  }

.like_box .city {
	font-family: "Trade-Gothic-Eig-Con", sans-serif;	
	font-size: 15px;
	margin-top: 4px;
	line-height: 17px;
}

/* About
------------------ */
#main_about {
	width:70%;
	min-width:1000px;
	margin: 50px auto 20px auto;
}
.about_desc {
	font-family: "Trade-Gothic-Bold", sans-serif;
	width: 570px;
	margin-left: 20px;
	line-height: 22px;
	margin-top: 10px;
}
.about_desc a{
	text-decoration: underline;
}

#download {
	padding: 10px 0 0 40px;
}
#download_magnet {
	background-color: #ffff00;
	text-align: center;
	margin: 14px 0 0 0;
	padding: 11px 8px 6px 6px;
	display: block;
}
#download_magnet:hover{
	background-color: #99CC00;
	color: #fff;
}
#circle_in {
	margin-left: 17px;
}
#circle_out {
	margin: 174px 0 0 35px;
}
#arrow {
	margin: 18px 0 0 150px;
}
#schema {
	margin-top: 30px;
}


/* Detail Page
------------------ */
#piechart {
	/*float: left;*/
	margin: -50px 0 0 220px;
}
#detail_like {
	float: left;
	font-size: 30px;
	display: inline;
	padding-top: 7px;
	border-top: 6px solid #666600;
}
#detail_info {
	font-family: "Trade-Gothic-Bold-Con";
	float: left;
	margin: 14px 0 0 15px;
}
#detail_info #count {
	font-size: 33px;
}
#detail_info #lang_list {
	margin-top: 10px;
	font-size: 20px;
	line-height: 22px;
} 



/* Misc
------------------ */
.left {
	float:left; 
}
.clear {
	clear: both;
}
.hidden {
  display: none;
}

.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE7 Hack */
.clear_fix {
  clear: both;
  *display: inline-block;
}
.verticaltext {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
}