#header {
  margin: 0 auto;
  width: 900px;
  padding: 20px 0;
}
  #logo {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 0 0;
  }
  #counter {
    float: left;
    font-size: 20px;
  }

.section_container {
  background-color: #ffff83;
  margin: 0 0 10px 0;
  padding: 10px 0;
}
  .section {
    margin: 0 auto;
    width: 900px;
  }
  .section_title {
    float: left;
    font-weight: bold;
    margin: 0;
    width: 150px;
  }
  .section_content {
    float: left;
  }  

#about_section .bottom_container {
	margin: 20px 0 20px 0;
}
	#video_container {
	  padding: 10px;
		margin: 0 10px 0 0;
	}

	#video_container .description {
		font-size: 0.9em;
		padding-top: 5px;
	}

	#quote {
	  font-size: 20px;
	  padding: 10px;
		width: 300px;
		line-height: 30px;
	}
		#quote .author {
			font-size: 16px;
		}
  
.without_bgcolor {
  background: none;
}
.with_bgcolor {
  background-color: #fff;
}

.left {
  float: left;
}