<div id="main_about" class="clear_fix">
	<div class="left"> <!-- left desc -->
		<!-- <div id="circle_in" class="left"><img src="assets/images/circle_in.png" /></div> -->
  	<div class="about_desc">The Magnet lives in your Facebook, where it magnetizes & paralyzes the "like" feature. Your Social Network then becomes Like-button-proof.</div>
		<div class="about_desc">As Marshall McLuhan wrote, "The More the Data Banks Record About Each One of Us, The Less We Exist."</div>
		<div class="about_desc" style="margin-top:15px"><div style="margin:-4px 4px 0 0;" class="left"><img src="images/arrow3.png"/></div>Watch CNN Video: <a href="http://www.youtube.com/watch?v=8df3zShqYlo&feature=player_embedded" target="_blank">Be Careful What You Like</a></div>
		<div class="about_desc">
			<div style="margin:-4px 4px 0 0;" class="left"><img src="images/arrow3.png"/></div>Visit <a href="http://www.facebook.com/AntiLikeMagnet?v=wall" target="_blank">Magnet Wall</a> on Facebook
		</div>
		<div class="about_desc" style="padding-top:8px;">Anti-Like Magnet is a <a href="http://yuinchien.com/thesis/magnet" target="_blank">thesis experiment</a> by <a href="http://yuinchien.com" target="_blank">yuin chien</a> and <a href="http://chaweihsu.com" target="_blank">chawei hsu</a>. This is a Chrome Extension, which only works on Google Chrome.</div>
	</div>
	
	<div id="download" class="left">
		<img src="images/magnet.png" width="200"/>
		<a id="download_magnet" target="_blank" href="https://chrome.google.com/webstore/detail/mgeeepihnhfpcjlaiipihaabmmgjllio">INSTALL MAGNET</a>
	</div>
	
	<div id="schema" class="left"><img src="images/schema.png" /></div>
	<!-- <div id="circle_out" class="left"><img src="assets/images/circle_out2.png" /></div> -->
	<!-- <div id="arrow"><img src="assets/images/arrow2.png" /></div> -->
	
</div>