<div id="main_about" class="clear_fix">
	<div id="circle_in" class="left"><img src="images/circle_in.png" /></div>
	<div class="about_desc">The Magnet lives in your Facebook, where it magnetizes & paralyzes the "like" feature. Your Social Network then becomes Like-button-proof. This is a Chrome Extension, which only works on Google Chrome.</div>
	<div class="about_desc">As Marshall McLuhan wrote, "The More the Data Banks Record About Each One of Us, The Less We Exist."</div>
 
  <div id="video_container" class="left"> 
		<div id="video">
      <object width="420" height="249"> 
        <param name="movie" value="http://www.youtube.com/v/8df3zShqYlo?fs=1&amp;hl=en_US&amp;rel=0" /> 
        <param name="allowFullScreen" value="true" /> 
        <param name="allowscriptaccess" value="always" /> 
        <embed src="http://www.youtube.com/v/8df3zShqYlo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="420" height="249" /> 
      </object> 
    </div> 
	</div> 

	<div id="download" class="left">
		<img src="images/magnet.png" />
		<div id="download_magnet"><a target="_blank" href="https://chrome.google.com/webstore/detail/mgeeepihnhfpcjlaiipihaabmmgjllio">INSTALL MAGNET</a></div>
	</div>
	
	<div id="circle_out" class="left"><img src="images/circle_out.png" /></div>
	
	<div class="clear_fix" />
	<div class="about_desc" style="padding-top:20px;">Anti-Like Magnet is a <a href="http://thesis.yuinchien.com/" target="_blank">thesis experiment</a> by <a href="http://yuinchien.com" target="_blank">yuin chien</a> and <a href="http://chaweihsu.com" target="_blank">chawei hsu</a>. Visit <a href="http://www.facebook.com/AntiLikeMagnet?v=wall" target="_blank">Magnet Wall</a> on Facebook.</div>
		
	<div id="arrow"><img src="images/arrow.png" /></div>
	
</div>