<div id="main" class="clear_fix">
	
<div id="content" class="left">

	<div id="detail_like">Like</div>
	<div id="detail_info">
		<div id="count">2319</div>
		<div id="lang_list">
			<div>English (US) x 1032</div>
			<div>English (UK) x 912</div>
			<div>Kurdish x 103</div>
		</div>
		<div style="margin-top:15px;"><img src="images/circle_in_out2.png"></div>
	</div>	

	
	<table id="table-piechart">
  	<tr> 
    	<th>PASADENA 1321</th> 
      <td>40%</td> 
    </tr> 
    <tr>
      <th>NEW YORK 711</th> 
      <td>26%</td> 
    </tr> 
    <tr> 
	    <th>CHINA 519</th> 
	    <td>5%</td> 
    </tr> 
    <tr> 
 	    <th>TOKYO 131</th> 
	    <td>5%</td> 
    </tr> 
    <tr> 
      <th>BRAZIL 99</th> 
      <td>4%</td> 
    </tr> 
    <tr> 
      <th>LOS ANGELES 87</th> 
      <td>4%</td> 
    </tr> 
    <tr> 
      <th>BEIJING 53</th> 
      <td>3%</td> 
    </tr> 
    <tr> 
      <th>SINGAPORE 45</th> 
      <td>2%</td> 
    </tr> 
    <tr> 
      <th>VENICE 23</th> 
      <td>2%</td> 
    </tr> 
    <tr> 
	    <th>FIRENZE 9</th> 
	    <td>2%</td> 
    </tr> 
 	</table>
		
	<div id="piechart"></div>

</div>

<div id="top_list" class="left" >
	<div id="top_list_arrows" class="verticaltext"> >>>>>>>>>>>>>> </div>
	<div id="top_list_title">TOP 10 PLACES</div>
	<div class="item">PASADENA</div>
	<div class="item">NEW YORK</div>
	<div class="item">CHINA</div>
	<div class="item">TOKYO</div>
	<div class="item">BRAZIL</div>
	<div class="item">LOS ANGELES</div>
	<div class="item">BEIJING</div>
	<div class="item">SINGAPORE</div>
	<div class="item">VENICE</div>
	<div class="item">FIRENZE</div>
	<!-- <div id="circle_in_out"><img src="assets/images/circle_in_out.png"></div> -->
</div>
	
</div>