<div class="section_container">
  <div class="section clear_fix">
    <div class="section_title">Download</div>
    <div class="section_content">
      Install the Magnet @ <a href="#">Chrome Store</a> for Free.
    </div>
  </div>
</div>

<div class="section_container">
  <div id="about_section" class="section clear_fix">
    <div class="section_title">About</div>
    <div class="section_content" style="padding-top:10px;">
			<img src="/images/magnet_site.png"/><img style="margin-left:16px;" src="/images/magnet_des.png"/>
      <p style="margin-top:10px;">The Magnet lives in your facebook, and enables a no-like-button Social Network.</p>
      <p>It magnetizes, and paralyzes Facebook Like Buttons whenever you need it.</p>
			
			<div class="bottom_container clear_fix">
				<div id="video_container" class="left with_bgcolor">
					<div id="video">
		      <iframe title="YouTube video player" class="youtube-player" type="text/html" width="400" height="255" src="http://www.youtube.com/embed/8df3zShqYlo?rel=0" frameborder="0" allowFullScreen></iframe>
		      </div>
					<div class="description">
	          Watch CNN Video: Be Careful About What You "Like"
	        </div>
				</div>

				<div id="quote" class="left with_bgcolor">
	        "The More the Data Banks Record About Each One of Us, The Less We Exist."
					<div class="author">- Marshall Mcluhan</div>
	      </div>
			</div>
				
    </div>

  </div>
</div>

<!--
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('detourlab').start();
</script>
-->