<div class="section_container">
  <div class="section clear_fix">
    <div class="left_col left">
      <div class="description">
        <img src="/images/des.png" title="" />
	    </div>
	    <div id="video_container" class="clear_fix">
				<div id="video">
	        <object width="400" height="250"><param name="movie" value="http://www.youtube-nocookie.com/v/8df3zShqYlo?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/8df3zShqYlo?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="200"></embed></object>
	      </div>
				<div class="video_desc">
          <img src="/images/video_des.png">
        </div>
			</div>
	  </div>
    <div class="right">
      <div id="magnet_image">
        <img src="/images/magnet.png" title="magnet" />
      </div>
      <div id="magnet_download">
        <img src="/images/download.png" title="download magnet" />
      </div>
	  </div>
  </div>
</div>

<div class="section">
<div id="quote">
	<img src="/images/quote.png" title="The More the Data Banks Record About Each One of Us, The Less We Exist. - Marshall Mcluhan"/>
</div>
</div>

<!--
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('detourlab').start();
</script>
-->