<div class="section_container">
  <div class="section clear_fix">
    <div class="description">
      <img src="/images/logo.png" />
      <img src="/images/des.png" title="" />
    </div>
    <div class="left_col left">
	    <div id="video_container" class="clear_fix">
				<div id="video">
	        <object width="380" height="238">
	          <param name="movie" value="http://www.youtube.com/v/8df3zShqYlo?fs=1&amp;hl=en_US&amp;rel=0" />
	          <param name="allowFullScreen" value="true" />
	          <param name="allowscriptaccess" value="always" />
	          <embed src="http://www.youtube.com/v/8df3zShqYlo?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="380" height="238" />
	        </object>
	      </div>
			</div>
	  </div>
    <div class="left">
      <div id="magnet_image">
        <img src="/images/magnet.png" title="magnet" />
      </div>
      <a id="magnet_download" href="#"><span class="hidden">Download Magnet</span></a>
	  </div>
	  
    <!-- <div class="section"> -->
    
    <!-- </div> -->
    
  </div>
  
  <div id="quote">
  	<img src="/images/quote.png" title="The More the Data Banks Record About Each One of Us, The Less We Exist. - Marshall Mcluhan"/>
  </div>
  
</div>

