<div class="section_container">
  <div class="section clear_fix">
    <div class="section_title">Download</div>
    <div class="section_content">
      Install the Magnet @ <a href="#">Chrome Store</a> for Free.
    </div>
  </div>
</div>

<div class="section_container">
  <div class="section clear_fix">
    <div class="section_title">About</div>
    <div class="section_content">
      <p>The Magnet lives in your facebook, and enables a no-like-button Social Network.</p>
      <p>The Magnet lives in your facebook, and enables a no-like-button Social Network.</p>
    </div>
  </div>
</div>

<div class="section_container without_bgcolor">
  <div class="section clear_fix">
    <div class="section_title">&nbsp;</div>
    <div class="section_content">
      <div class="clear_fix">
        <div id="video_container" class="left with_bgcolor">
          <div id="video">
          
          </div>
          <div class="description">
            Watch CNN Video: Be Careful About What You "Like"
          </div>
        </div>
        <div id="quote" class="left with_bgcolor">
          The More the Data Banks
        </div>
      </div>
    </div>
  </div>
</div>